$backgroundColor: rgb(31, 29, 29);

.navbarBar {
    height: 55px;
    width: 100%;
    background-color: $backgroundColor;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-bottom: 3px goldenrod solid;

    .menuIcon {
        // background-color: red;
        width: 55px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 32px;
        cursor: pointer;
        transition: 1s ease;
    }

    .activeMenuIcon {
        transform: rotate(90deg);
    }

    .mainNaviPart {

        display: flex;
        justify-content: space-between;
        align-items: center;

        .brandWrapper {
            width: 110px;
            height: 100%;
            // background-color: orange;
            color: white;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 5px;
            justify-content: center;
            align-content: center;
            cursor: pointer;

            .brandIcon {
                color: white;
                text-align: end;
                font-size: 40px;
                transform: translateY(4px);
            }

            .brandNameWrapper {
                display: grid;
                justify-content: flex-start;
                align-content: center;
                column-gap: 5px;
                margin-right: 5px;
                line-height: 16px;
                font-weight: 500;
                grid-template-areas:
                    "one two"
                    "three two";

                .brandNameOne {
                    grid-area: one;
                    font-size: 14px;
                }

                .brandNameTwo {
                    grid-area: two;
                    font-size: 36px;
                    transform: translateY(6px);
                }

                .brandNameThree {
                    grid-area: three;
                    font-size: 14px;
                }
            }
        }

        .naviCategoriesWrapper {
            display: none;
        }
    }

    .iconsWrapper {

        .searchWrapper {

            .navbarForm {
                display: none;
            }

            .searchIcon {
                display: none;
            }
        }

        .personIcon {
            display: none;
            width: 55px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 28px;
            cursor: pointer;
        }

        .basketIcon {
            display: none;
        }
    }
}

.navigationWrapper {
    width: 100%;
    min-height: calc(100vh - 55px);
    background-color: rgba(0, 0, 0, 0.863);
    position: fixed;
    left: -110%;
    transition: 1s ease;
}

.activenNavigationWrapper {
    left: 0;
}

@media screen and (min-width: 960px) {

    .navbarBar {
        justify-content: space-around;
        height: 85px;


        .menuIcon {
            display: none;
        }

        .mainNaviPart {
            .naviCategoriesWrapper {
                display: block;
                width: auto;
                height: 70px;
                margin-left: 20px;
                // background-color: red;
                padding: 5px 10px;

                .naviCategoriesList {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    height: 100%;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    // background-color: yellow;

                    .naviCategoriesListItem {
                        margin: 0 20px;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: 500;
                        cursor: pointer;

                        &:hover {
                            color: goldenrod;
                        }
                    }
                }
            }
        }

        .iconsWrapper {
            width: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .searchWrapper {

                .navbarForm {
                    display: flex;

                    .searcherInput {
                        background-color: $backgroundColor;
                        border: none;
                        color: white;
                        border-bottom: solid 2px white;
                        width: 200px;

                        &:focus {
                            outline: none;
                        }
                    }

                    .searchIcon {
                        background-color: $backgroundColor;
                        border: none;
                        margin: 0 5px;
                        width: 55px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-size: 28px;
                        cursor: pointer;

                        &:hover {
                            color: goldenrod;
                        }
                    }
                }
            }

            .personIcon {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 32px;
                color: white;
                cursor: pointer;
                margin: 0 5px;
                width: 55px;
                height: 100%;

                &:hover {
                    color: goldenrod;
                }
            }

            .basketIcon {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 32px;
                color: white;
                cursor: pointer;
                margin: 0 5px;
                width: 55px;
                height: 100%;

                &:hover {
                    color: goldenrod;
                }
            }
        }
    }
}